.App {
  text-align: center;
}

body {
  background: rgba(0, 0, 0, 0.7) url("img/galaxy.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
  color: azure;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
